.bg-blue {
    background-color: #03298C !important;
}

.text-blue {
    color: #03298C !important;
}

.border-blue {
    border: 1px solid#03298C !important;
}

.btn-white {
    background-color: white;
    color: #000;
}

.bg-green {
    background-color: #72C27A !important;
}

.widthBtn {
    width: 125px;
    height: 39px;
}