.bg-blue {
    background-color: #03298C !important;
}

.text-blue {
    color: #03298C !important;
}

.border-gray {
    border: 1px solid #DEE2E6;
}

.place-holder::placeholder {
    color: #03298C !important;
}

.place-holder:focus {
    box-shadow: none !important;
    border: 1px solid #DEE2E6 !important;
}

.bg-mate-blue {
    background-color: #E8EFFE !important;
}

.bg-mate-red {
    background-color: #FFEDEC !important;
}

.bg-mate-green {
    background-color: #E2FFED !important;
}

.text-mate-blue {
    color: #3356C1 !important;
}

.text-mate-red {
    color: #D66868 !important;
}

.text-mate-green {
    color: #06AC5D !important;
}

.height {
    height: 708px;
}

/* width */
.scrolling::-webkit-scrollbar,
.scrolling-add-comment::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.scrolling::-webkit-scrollbar-track,
.scrolling-add-comment::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.scrolling::-webkit-scrollbar-thumb {
    background: #03298C;
}

.scrolling-add-comment::-webkit-scrollbar-thumb {
    background-color: #DEE2E6;
}

small {
    font-size: 10px !important;
    font-family: sans-serif !important;
}

.add-comment:focus {
    border: 0px !important;
    box-shadow: none !important;
}

.faComment {
    margin-top: auto !important;
    margin-bottom: auto !important;
}